body {
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

h1 {
  text-align: center;
  background-color: purple;
  color: white;
  font-size: 50px;
  padding: 20px;
  margin: 0px;
}

#list {
  margin-left: 25px;
  margin-right: 25px;
}

.contact {
  display: inline-block;
  margin: 30px;
  max-width: 175px;
}

#primary_inputs {
  text-align: center;
}

#add, #search {
  font-size: 22px;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid black;
  margin: 20px;
}

#add:hover {
  background-color: purple;
  cursor: pointer;
  color: white;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
}

#update_form {
  margin: auto;
  width: 50%;
  padding: 5px;
}

.bar {
  width: 350px;
}

#tag_bar {
  width: 350px;
  margin-right: 10px;
}

.hide {
  display: none;
}

button.tag {
  border-radius: 15px;
  border: 1px solid grey;
  font-size: 14px;
  padding: 7px;
  margin-bottom: 8px;
  margin-right: 3px;
}

.cancel:hover, .submit:hover, .edit:hover, .delete:hover {
  color: white;
  background-color: purple;
  cursor: pointer;
}

.tag:hover {
  color: white;
  background-color: darkcyan;
  cursor: pointer;
}

h2 {
  font-size: 32px;
  text-align: center;
  color: purple;
}

h3 {
  font-size: 21px;
  text-align: left;
  color: purple;
}

.edit, .delete {
  font-size: 16px;
  padding: 8px;
}

#common_tags {
  text-align: center;
}

#tagname {
  color: darkorange;
  font-style: italic;
  font-size: 32px;
  font-family: 'Courier New', Courier, monospace;
}

#tag_toggle {
  width: 400px;
}

#custom_button {
  background-color: lightgreen;
  color: black;
  padding: 10px;
  font-size: 
  18px;
}

#custom_button:hover {
  background-color: green;
  color: white;
}
